In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ames_df = pd.read_csv("https://raw.githubusercontent.com/wblakecannon/ames/master/data/housing.csv")
ames_df.head()

,Unnamed: 0,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [8]:
# here we are going to take out its info which means the no of rows and columns it has
ames_df.shape
# we see that it has 2930 rows as wella s 83 columns

(2930, 83)

# Now we are going to make a graph for the target varible which is the Saleprice


> Examine shape and its columns. Identify target column. Plot histogram and mean, immediately below place boxplot with mean Q1Q2Q3 and extreme values (lower & higher)

In [11]:
sorted(ames_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2930 non-null   int64
 1   Order            2930 non-null   int64
 2   PID              2930 non-null   int64
 3   MS SubClass      2930 non-null   int64
 4   MS Zoning        2930 non-null   object
 5   Lot Frontage     2440 non-null   float64
 6   Lot Area         2930 non-null   int64
 7   Street           2930 non-null   object
 8   Alley            198 non-null    object
 9   Lot Shape        2930 non-null   object
 10  Land Contour     2930 non-null   object
 11  Utilities        2930 non-null   object
 12  Lot Config       2930 non-null   object
 13  Land Slope       2930 non-null   object
 14  Neighborhood     2930 non-null   object
 15  Condition 1      2930 non-null   object
 16  Condition 2      2930 non-null   object
 17  Bldg Type        2930 non-null   object
 18  House Style      2930 non-null   object
 19  Overall Qual     2930 non-null   int64
 20  Overall Cond     2930 non-null   int64
 21  Year Built       2930 non-null   int64
 22  Year Remod/Add   2930 non-null   int64
 23  Roof Style       2930 non-null   object
 24  Roof Matl        2930 non-null   object
 25  Exterior 1st     2930 non-null   object
 26  Exterior 2nd     2930 non-null   object
 27  Mas Vnr Type     1155 non-null   object
 28  Mas Vnr Area     2907 non-null   float64
 29  Exter Qual       2930 non-null   object
 30  Exter Cond       2930 non-null   object
 31  Foundation       2930 non-null   object
 32  Bsmt Qual        2850 non-null   object
 33  Bsmt Cond        2850 non-null   object
 34  Bsmt Exposure    2847 non-null   object
 35  BsmtFin Type 1   2850 non-null   object
 36  BsmtFin SF 1     2929 non-null   float64
 37  BsmtFin Type 2   2849 non-null   object
 38  BsmtFin SF 2     2929 non-null   float64
 39  Bsmt Unf SF      2929 non-null   float64
 40  Total Bsmt SF    2929 non-null   float64
 41  Heating          2930 non-null   object
 42  Heating QC       2930 non-null   object
 43  Central Air      2930 non-null   object
 44  Electrical       2929 non-null   object
 45  1st Flr SF       2930 non-null   int64
 46  2nd Flr SF       2930 non-null   int64
 47  Low Qual Fin SF  2930 non-null   int64
 48  Gr Liv Area      2930 non-null   int64
 49  Bsmt Full Bath   2928 non-null   float64
 50  Bsmt Half Bath   2928 non-null   float64
 51  Full Bath        2930 non-null   int64
 52  Half Bath        2930 non-null   int64
 53  Bedroom AbvGr    2930 non-null   int64
 54  Kitchen AbvGr    2930 non-null   int64
 55  Kitchen Qual     2930 non-null   object
 56  TotRms AbvGrd    2930 non-null   int64
 57  Functional       2930 non-null   object
 58  Fireplaces       2930 non-null   int64
 59  Fireplace Qu     1508 non-null   object
 60  Garage Type      2773 non-null   object
 61  Garage Yr Blt    2771 non-null   float64
 62  Garage Finish    2771 non-null   object
 63  Garage Cars      2929 non-null   float64
 64  Garage Area      2929 non-null   float64
 65  Garage Qual      2771 non-null   object
 66  Garage Cond      2771 non-null   object
 67  Paved Drive      2930 non-null   object
 68  Wood Deck SF     2930 non-null   int64
 69  Open Porch SF    2930 non-null   int64
 70  Enclosed Porch   2930 non-null   int64
 71  3Ssn Porch       2930 non-null   int64
 72  Screen Porch     2930 non-null   int64
 73  Pool Area        2930 non-null   int64
 74  Pool QC          13 non-null     object
 75  Fence            572 non-null    object
 76  Misc Feature     106 non-null    object
 77  Misc Val         2930 non-null   int64
 78  Mo Sold          2930 non-null   int64
 79  Yr Sold          2930 non-null   int64
 80  Sale Type        2930 non-null   object
 81  Sale Condition   2930 non-null   object
 82  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(29), object(43)
memory usage: 1.9+ MB

TypeError: 'NoneType' object is not iterable

-- the main difference between sorted and sort is that